body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.block-menu a {
  display: block;
  background-color: #3498db;
  color: white;
  padding: 10px;
  margin: 5px 0;
  text-decoration: none;
}

.inline-menu a {
  display: inline;
  background-color: #24f544;
  color: white;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
}


.clear-example {
  clear: both;       
  background-color: #f4f4f4;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #ccc;
}